<%= render 'banner' %>

<div class="container">

  <h2 class="mt-4">All Cocktails</h2>
  <% @cocktails.each do |cocktail| %>
  <div class="card p-3 mt-4">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>

